.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}
.error{
    border:2px solid red;
    border-radius: .5rem;
    text-align: center;
    padding: .5rem;
    text-transform: uppercase;
    font-weight: 600;
}
h1{
    text-align: center;
}
form {
    display: flex;
}

.movies-container {
    display: grid;
    gap: 2rem;
}

.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 1rem;
    background: var(--background);
    max-width: 270px;
}